<template>
  <div class="row">
    <form>
      <div
        class="col-sm-8 col-sm-offset-2 col-xs-12 col-md-6 col-md-offset-3 form-group"
      >
        <label>Quote</label>
        <textarea
          class="form-control"
          cols="10"
          rows="3"
          v-model="textQuote"
        ></textarea>
      </div>
      <div
        class="col-sm-8 col-sm-offset-2 col-xs-12 col-md-6 col-md-offset-3 form-group"
      >
        <button class="btn-primary" @click.prevent="createQuote">
          Add quote
        </button>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  data: function () {
    return {
      textQuote: "",
    };
  },
  methods: {
    createQuote() {
      this.$emit("quoteWasCreated", this.textQuote);
      this.textQuote = "";
    },
  },
};
</script>

<style scoped></style>
