<template>
  <div class="container">
    <app-header
      :quotesCount="quotes.length"
      :maxQuotes="maxQuotes"
    ></app-header>
    <app-new-quote @quoteWasCreated="insertQuote($event)"></app-new-quote>
    <p>{{ newQuote }}</p>
    <app-grid-quotes
      :quotes="quotes"
      @quoteWasDeleted="removeQuote($event)"
    ></app-grid-quotes>
    <div class="row">
      <div class="col-sm-12 text-center">
        <div class="alert alert-info">Click a quote to delete it</div>
      </div>
    </div>
  </div>
</template>

<script>
import GridQuotes from "./components/GridQuotes.vue";
import Header from "./components/Header.vue";
import NewQuote from "./components/NewQuote.vue";
export default {
  data: function () {
    return {
      quotes: ["First single quote"],
      maxQuotes: 10,
      newQuote: "",
    };
  },
  components: {
    appGridQuotes: GridQuotes,
    appNewQuote: NewQuote,
    appHeader: Header,
  },
  methods: {
    insertQuote(quote) {
      if (this.quotes.length >= this.maxQuotes) {
        return alert("Max 10 quotes accepted!");
      }
      this.quotes.push(quote);
    },
    removeQuote(indexQuote) {
      this.quotes.splice(indexQuote, 1);
    },
  },
};
</script>

<style></style>
